.table-container {
  width: 100%;
  overflow-x: auto; // Enables horizontal scrolling on small screens
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th,
  td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap; // Prevents text from wrapping in columns
  }
}

.isFavorite {
  background-color: red;
}
